# 编译产物
target/
*.class

# IDE 配置
.idea/
*.iml

# 日志与临时文件
*.log
logs/
*.tmp

# nginx：只上传前端代码和配置，忽略其他一切
nginx-1.18.0/*
!nginx-1.18.0/html/
!nginx-1.18.0/conf/
nginx-1.18.0/html/*
!nginx-1.18.0/html/hmdp/
nginx-1.18.0/conf/*
!nginx-1.18.0/conf/nginx.conf
